

<h1><%= @teacher.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @teacher.name %></td>
        <td><%= @teacher.email %></td>
        <td><%= link_to 'Edit Personal Info', edit_teacher_path(@teacher) %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'Parent Index', parents_path %>
